 <section class="container">
	<div class="columns">
		<div class="column is-12">
			<section class="hero is-info welcome is-small">
				<div class="hero-body">
					<div class="container">
						<h1 class="title">
							Hello!
						</h1>
						<h2 class="subtitle">
							Click on a category to narrow down your search.
						</h2>
					</div>
				</div>
			</section>
			<section class="info-tiles">
				<div class="tile is-ancestor has-text-centered">
					<div class="tile is-parent">
						<article class="tile is-child box">
							<a class="button is-inverted is-link"><span> <p
										class="title">Safety Equipment</p></span></a>
						</article>
					</div>
					<div class="tile is-parent">
						<article class="tile is-child box">
							<a class="button is-inverted is-link"><span> <p
										class="title">Lab Equipment</p></span></a>
						</article>
					</div>
					<div class="tile is-parent">
						<article class="tile is-child box">
							<a class="button is-inverted is-link"><span> <p
										class="title">Chemicals</p></span></a>
						</article>
					</div>
					<div class="tile is-parent">
						<article class="tile is-child box">
							<a class="button is-inverted is-link"><span> <p
										class="title">Misc.</p></span></a>
						</article>
					</div>
				</div>
			</section>
				{{> material-list }}

		</div>
	</div>
</section>
<style>
			.info-tiles{
				margin-top: 20px;
			}
		</style>
<script src="/js/category-select.js"></script>