		<section class="container">
			<div class="columns">
				<div class="column is-12">
					{{!-- <div class="box content">
						<article class="post">
							<h4>Bulma: How do you center a button in a box?</h4>
							<div class="media">
								<div class="media-left">
									<p class="image is-32x32">
										<img src="http://bulma.io/images/placeholders/128x128.png">
									</p>
								</div>
								<div class="media-content">
									<div class="content">
										<p>
											<a href="#">@jsmith</a> replied 34 minutes ago &nbsp;
											<span class="tag">Question</span>
										</p>
									</div>
								</div>
								<div class="media-right">
									<span class="has-text-grey-light"><i class="fa fa-comments"></i> 1</span>
								</div>
							</div>
						</article>
						<article class="post">
							<h4>How can I make a bulma button go full width?</h4>
							<div class="media">
								<div class="media-left">
									<p class="image is-32x32">
										<img src="http://bulma.io/images/placeholders/128x128.png">
									</p>
								</div>
								<div class="media-content">
									<div class="content">
										<p>
											<a href="#">@red</a> replied 40 minutes ago &nbsp;
											<span class="tag">Question</span>
										</p>
									</div>
								</div>
								<div class="media-right">
									<span class="has-text-grey-light"><i class="fa fa-comments"></i> 0</span>
								</div>
							</div>
						</article>
						<article class="post">
							<h4>TypeError: Data must be a string or a buffer when trying touse vue-bulma-tabs</h4>
							<div class="media">
								<div class="media-left">
									<p class="image is-32x32">
										<img src="http://bulma.io/images/placeholders/128x128.png">
									</p>
								</div>
								<div class="media-content">
									<div class="content">
										<p>
											<a href="#">@jsmith</a> replied 53 minutes ago &nbsp;
											<span class="tag">Question</span>
										</p>
									</div>
								</div>
								<div class="media-right">
									<span class="has-text-grey-light"><i class="fa fa-comments"></i> 13</span>
								</div>
							</div>
						</article>
						<article class="post">
							<h4>How to vertically center elements in Bulma?</h4>
							<div class="media">
								<div class="media-left">
									<p class="image is-32x32">
										<img src="http://bulma.io/images/placeholders/128x128.png">
									</p>
								</div>
								<div class="media-content">
									<div class="content">
										<p>
											<a href="#">@brown</a> replied 3 hours ago &nbsp;
											<span class="tag">Question</span>
										</p>
									</div>
								</div>
								<div class="media-right">
									<span class="has-text-grey-light"><i class="fa fa-comments"></i> 2</span>
								</div>
							</div>
						</article>
						<article class="post">
							<h4>I'm trying to use hamburger menu on bulma css, but it doesn't work. What is wrong?</h4>
							<div class="media">
								<div class="media-left">
									<p class="image is-32x32">
										<img src="http://bulma.io/images/placeholders/128x128.png">
									</p>
								</div>
								<div class="media-content">
									<div class="content">
										<p>
											<a href="#">@hamburgler</a> replied 5 hours ago &nbsp;
											<span class="tag">Question</span>
										</p>
									</div>
								</div>
								<div class="media-right">
									<span class="has-text-grey-light"><i class="fa fa-comments"></i> 2</span>
								</div>
							</div>
						</article>
						<article class="post">
							<h4>How to make tiles wrap with Bulma CSS?</h4>
							<div class="media">
								<div class="media-left">
									<p class="image is-32x32">
										<img src="http://bulma.io/images/placeholders/128x128.png">
									</p>
								</div>
								<div class="media-content">
									<div class="content">
										<p>
											<a href="#">@rapper</a> replied 3 hours ago &nbsp;
											<span class="tag">Question</span>
										</p>
									</div>
								</div>
								<div class="media-right">
									<span class="has-text-grey-light"><i class="fa fa-comments"></i> 2</span>
								</div>
							</div>
						</article>
					</div> --}}
				<section class="hero is-info welcome is-small">
                    <div class="hero-body">
                        <div class="container">
                            <h1 class="title">
                                Hello! - insert name here-
                            </h1>
                            <h2 class="subtitle">
                                Check out our nice categories
                            </h2>
                        </div>
                    </div>
                </section>
					<section class="info-tiles">
                    <div class="tile is-ancestor has-text-centered">
                        <div class="tile is-parent">
                            <article class="tile is-child box">
                                <p class="title">439k</p>
                                <p class="subtitle">Users</p>
                            </article>
                        </div>
                        <div class="tile is-parent">
                            <article class="tile is-child box">
                                <p class="title">59k</p>
                                <p class="subtitle">Products</p>
                            </article>
                        </div>
                        <div class="tile is-parent">
                            <article class="tile is-child box">
                                <p class="title">3.4k</p>
                                <p class="subtitle">Open Orders</p>
                            </article>
                        </div>
                        <div class="tile is-parent">
                            <article class="tile is-child box">
                                <p class="title">19</p>
                                <p class="subtitle">Exceptions</p>
                            </article>
                        </div>
                    </div>
                </section>
				</div>
			</div>
		</section>
		<style>
			.info-tiles{
				margin-top: 20px;
			}
		</style>