
<body>
    <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-4 is-offset-4">
                    <h1 class="title is-1 has-text-black">Login</h1>
                    <hr class="login-hr has-text-black">
                    <p class="subtitle has-text-black">Please login to proceed.</p>
                    <div class="box">
                        <form>
                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" id="login-form-email" type="email" placeholder="Your Email" autofocus="">
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" id="login-form-password" type="password" placeholder="Your Password">
                                </div>
                            </div>
                            <button class="button is-block is-info is-large is-fullwidth" id="login-form-btn">Login <i class="fa fa-sign-in" aria-hidden="true"></i></button>
                        </form>
                    </div>
                    <p class="has-text-grey">
                        Don't have a student account? <a href="/register">Register here.</a> 
                    </p>
                </div>
            </div>
        </div>
    </section>
</body>
<script src="/js/login.js"></script>
