        <div class="container has-text-centered">
            <div class="columns is-vcentered">
                <div class="column is-5">
                    <figure class="image is-4by3">
                        <img src="./assets/images/labequipment.webp" alt="Description">
                    </figure>
                </div>
                <div class="column is-6 is-offset-1">
                    <h1 class="title is-2">
                        Item name
                    </h1>
                    <h2 class="subtitle is-4">
                        Item description
                    </h2>
                    <br>
                    <p class="has-text-centered">
                        <a class="button is-medium is-info is-outlined">
                            Check In
                        </a>
                        <a class="button is-medium is-info is-outlined">
                            Check Out
                        </a>
                    </p>
                </div>
            </div>
        </div>